* {
  padding: 0;
  margin: 0;
}


html {
  background: linear-gradient(#000000, #150723);
  background-color: #000000;
}

body {
  padding: 0;
  font-family: 'Nunito';
}

.page {
  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 110ch 1fr;
  }
}

.header {
    display: flex;
    flex-direction: horizontal;
    margin-top: 15px;
    padding-bottom: 0px;
}

.banner {
  font-weight: 800;
  
  font-size: 0px;
  line-height: 30px;
  
  padding: 25px 25px 0 25px;

  a {
    color: #ffcc00;
    text-decoration: none;
  }

  .bannerName {
      font-size: 24px;
      font-weight: 800;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      @media screen and (min-width: 800px) {
        font-size: 32px;
      }
  }
  .bannerApostrophe {
      font-size: 18px;
      font-weight: 400;
      padding: 0px 3px 0px 0px;
      margin: 0px 0px 0px 0px;
      font-style: italic;
      @media screen and (min-width: 800px) {
        font-size: 24px;
      }
  }
  .bannerDescription {
      font-size: 18px;
      font-weight: 400;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      @media screen and (min-width: 800px) {
        font-size: 24px;
      }
  }
  .bannerPeriod {
      font-size: 18px;
      font-weight: 900;
      padding: 0px 0px 0px 4px;
      margin: 0px 0px 0px 0px;
      @media screen and (min-width: 800px) {
        font-size: 24px;
      }
  }
}

.left, .right {
  // background-color: white;
}

.main {
  display: flex;
  flex-direction: column;

  background: linear-gradient(#000000, #150723);

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  @media screen and (min-width: 800px) { 
    display: grid;
    grid-template-columns: 70ch 1fr;

    background: radial-gradient(circle, rgba(15,15,15,1) 50%, rgba(1,1,1,1) 100%);
  } 
}

.recentPostsList {
  margin: 0px 20px 0px 10px;

  @media screen and (min-width: 800px) {
    margin: 0;
    padding: 25px;
    padding-right: 0px;
  }

  .recentPost {    
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;

    box-shadow: 2px 2px 1px #ffcc00;
    background-color: rgba(15,15,15,1);

    @media screen and (min-width: 800px) {
      box-shadow: none;
      background: none;
      background-color: none;

      &:hover {
        box-shadow: 2px 2px 1px #ffcc00;
        background: radial-gradient(circle, rgba(15,15,15,1) 15%, rgba(1,1,1,1) 100%);
      }
    }

    .readMore {
      color: white;
      margin-top: 15px;
      font-weight: 700;

      .postLink:hover {
        color: #9837ff;
        cursor: pointer;
      }
    }

    h1 {
      color: #ffcc00;
      font-size: 22px;
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
      display: inline-block;
    }

    p {
      color: white;
    }
    
  }
}

.sidebar {
  margin: 0px 20px 0px 10px;

  @media screen and (min-width: 800px) {
    margin: 0;
    padding: 25px;
  }
}

.sidebar-content {
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 20px 20px 20px;

  box-shadow: 2px 2px 1px #9837ff;
  background-color: #161616;
  

  h1 {
    color: #9837ff;
    font-size: 22px;
    margin-bottom: 5px;
  }

  

  .highlight {
  }

  .compactPostsList {
  }
}

.aboutMe {
    
}

.readingList {
  display: none;

  @media screen and (min-width: 800px) {
    display: flex;
    flex-direction: column;

    .readingEntries {
      display: grid;
      grid-template-rows: auto auto;
      gap: 1rem;

      @media screen and (min-width: 800px) {
        grid-template-columns: auto auto;
        justify-content: space-between;
      }

      .readingEntry {
        margin-top: 10px;
        justify-self: center
      }

      .bookCover {
        border-radius: 5px;
      }
    } 
  } 
}

.blogPost {
  color: white;
  padding: 20px 45px;
  height: 100%;
  min-height: 100vh;

  ul {
    padding-left: 25px;
  }

  h1 {
    color: #ffcc00;
    display: inline-block;
    font-weight: 700;
  }

  h2,h3,h4,h5 {
    padding-top: 20px;
    color: #ffcc00;
    font-weight: 500;
  }

  .blogHeader {
    margin-bottom: 8px;
  }

  .blogDate {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    color: #9837ff;
    padding-left: 10px;
    vertical-align: center;
    padding: auto 0 auto 0;
  }
}

