/* Sidebar */

.sidebar {
    text-align: center;
    padding: 2rem 1rem;
    padding-top: 3rem;
    color: rgba(255,255,255,.5);
    background-color: #202020;
    border: solid 1px #2e2e2e;
}
@media (min-width: 48em) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20rem;
        text-align: left;
    }
}
@media (min-width: 64em) {
    .sidebar {
        width: 30rem;
    }
}


/* Links */
.sidebar a {
    color: #fff;
}

/* Info */
.sidebar-about h1 {
    color: #fff;
    margin-top: 0;
    font-family: "Abril Fatface", serif;
    font-size: 3.25rem;
}

/* Navigation */
.sidebar-nav {
    padding-left: 0;
    list-style: none;
}
.sidebar-nav-item {
    display: block;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: underline;
}
.sidebar-nav-item.active {
    font-weight: bold;
}
