/* Sidebar */

.sidebar {
    display: none;
    text-align: center;
    padding-left: 3%;
    padding-right: .5rem;
    padding-top: 3rem;
    color: rgba(255,255,255,.5);
    background-color: #101010;
    border: solid 1px #2e2e2e;
    overflow-y: scroll;
    direction: rtl;
    top: 0;
    bottom: 0;
}
@media (min-width: 48em) {
    .sidebar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20rem;
        text-align: left;
    }
}
@media (min-width: 64em) {
    .sidebar {
        width: 30rem;
    }
}


/* Links */
.sidebar a {
    color: #fff;
}

/* Info */
.sidebar-about {
    border-bottom: solid 1px #2e2e2e;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;

    h1 {
        color: #fff;
        margin-top: 0;
        font-family: "Abril Fatface", serif;
        font-size: 3.25rem;
    }
}

/* Navigation */
.sidebar-nav {
    padding-left: 0;
    list-style: none;
}
.sidebar-nav-item {
    display: block;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: underline;
}
.sidebar-nav-item.active {
    font-weight: bold;
}
