---
layout: default
---

<div class="archive">
  {% for post in site.posts %} {% assign currDate = post.date | date: "%Y" %} 
    {% if currDate != date %}
    <h1 class="archive__year">{{ currDate }}</h1>
    {% assign date = currDate %} {% endif %}
    <div class="archive__post">
      <span class="archive__post__date fs-4"
        >{{ post.date | date: "%B %d, %Y" }}</span
      >
      <a href="{{ post.url | relative_url }}" class="archive__post__title fs-4"
        >{{ post.title }}</a
      >
    </div>
  {% endfor %}
  <a href="{{ 'assets/fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf' | relative_url }}">link</a>
</div>
