<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <nav class="navbar__brand">
      {% if site.lightavatar or site.darkavatar %}
      <!-- <img src="{{ site.lightavatar | relative_url }}" alt="light avatar" width="30" class="d-inline-block align-top m-0 light-avatar"> -->
      <!-- <img src="{{ site.darkavatar | relative_url }}" alt="dark avatar" width="30" class="d-inline-block align-top m-0 dark-avatar"> -->
      {% endif %}
      <h1>
        <a href="{{ '/' | relative_url }}">{{ site.name }}</a>
        <strong>
          / <a href="{{ '/blog' | relative_url }}">Blog</a>
        </strong>
      </h1>
    </nav>
    
    <div class="" id="navbarNav">
      <ul class="navbar-nav d-flex flex-row">
        {% for item in site.data.navigation %}
          <li class="nav-item p-1">
            <a href="{{ item.link | relative_url }}" {% if page.url == item.link %} class="nav-link active" {% else %} class="nav-link" {% endif %}>{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
