// Playfair

@font-face {
  font-family: "Playfair";
  src: url("/assets/fonts/Playfair/Playfair-VariableFont_opsz,wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair";
  font-style: italic;
  src: url("/assets/fonts/Playfair/Playfair-Italic-VariableFont_opsz,wdth,wght.ttf") format("truetype");
}

// Playfair Display

@font-face {
  font-family: "PlayfairDisplay";
  src: url("/assets/fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay";
  font-style: italic;
  src: url("/assets/fonts/PlayfairDisplay/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
}

// Newsreader

@font-face {
  font-family: "Newsreader";
  src: url("/assets/fonts/Newsreader/Newsreader-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Newsreader";
  font-style: italic;
  src: url("/assets/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz,wght.ttf") format("truetype");
}

// Inconsolata
@font-face {
  font-family: "Inconsolata";
  src: url("/assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
}
