/*
 * Pages
 *
 * Each page is wrapped in `.page` and is only used on the page layout.
 */

 .page {
   margin-bottom: 4em;
 }
 
 /* Blog post or page title */
 .page-title {
   color: #ffffff;
 }
 .page-title {
   margin-top: 0;
 }
 