{% extends "basic.html" %}

{% block content %}
{# <div class="blog-content container">
  <div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
    {{ page.content | safe }}
  </div>
</div> #}
<div class='blogPost'>
  <div class='blogHeader'>
    <h1>{{ page.title }}</h1>
    <span class="blogDate">[ Published {{ page.date | date(format="%d/%m/%Y") }} ]</span>
  </div>
  <p>{{ page.description }}</p>
  {{ page.content | safe }}
</div>
{% endblock content %}

